---
import Page from "../../layouts/Page.astro";
---

<Page class="m-0 p-0 bg-darkest text-almost font-switzer leading-normal">
  <div>
    <div
      class="p-0 m-0 w-[1200px] h-[630px] flex items-center justify-center space-x-4 border border-dark"
    >
      <h1 class="font-plein font-bold text-[10rem] text-sun">
        Trump<br />D.O.G.E.
      </h1>
      <img src="/images/doge-meme.jpg" alt="Doge meme" class="w-[36rem]" />
    </div>
  </div>
</Page>
